@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #d1d5db;
  font-family: "Titillium Web", sans-serif;
}