@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Merriweather:wght@400;700&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #d1d5db;
  font-family: Raleway;
}